.container { 
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background: lightblue;
    grid-area: 1 / 1 / 2 / -1;
}
.caixa2 {
    background: lightgray;
    grid-area: 2 / 1 / -1 / 3;
}.caixa3 {
    background: lightskyblue;
    grid-area: 2 / 3 / -1 / -1;
}