@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}

header, section.normal {
    padding: 20px;
}

section.flex-content {
    padding: 20px;
    background-color: rgb(184, 184, 184);
}