.container { 
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background: lightblue;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}
.caixa2 {
    background: lightgray;
    grid-row: 2 / -1;
    grid-column: 1 / 3;
}.caixa3 {
    background: lightskyblue;
    grid-row: 2 / -1;
    grid-column: 3 / -1;
}