*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container { 
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 80px 40px 1fr 40px / 1fr 150px;
    gap: 3px;
    text-align: center;
}

.topo {
    background: lightblue;
    grid-area: 1 / 1 / 2/ -1;
}
.menu {
    background: lightcoral;
    grid-area: 2 / 1 / 3 / -1;
}
.principal {
    background-color: lightcyan;
    grid-area: 3 / 1 / -2 / -2;
}
.secundario {
    background-color: lightgoldenrodyellow;
    grid-area: 3 / -2 / -2/ -1;
}
.rodape {
    background-color: lightgray;
    grid-area: -2 / 1 / -1 / -1;
}