.container { 
    display: grid;
    grid-template: repeat(10, 50px) / repeat(4, 1fr);
    gap: 3px;
}

.topo {
    background: lightblue;
    grid-area: 1 / 1 / 3 / -1;
}
.menu {
    background: lightcoral;
    grid-area: 3 / 1 / 4 / -1;
}
.principal {
    background-color: lightcyan;
    grid-area: 4 / 1 / span 6 / -2;
}
.secundario {
    background-color: lightgoldenrodyellow;
    grid-area: 4 / -2 / span 6 / -1;
}
.rodape {
    background-color: lightgray;
    grid-area: 10 / 1 / -1 / -1;
}